/* Pruebas en css */
html {
	
	
}

head {
	
	font-size: 20px;
}

body {
	position: relative;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;    
	background-image: url('img/fondo3.jpg');
	background-size: cover;
	background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
	color: white;
	font-size: 30px;

	}
/* fondo transparente */
	body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

a {
	font-size: 25px;
	text-decoration: none;
}
a:hover{
	color: yellow;
	text-decoration: underline;
}

h1, h6{
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}


	p{
font-size: 34px;
}
