
body{
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}
 
.contenido {
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    gap: 100px;
    margin: auto;
    font-size: 29px;
    font-family: Arial, sans-serif;
}


.btnjs{
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    align-items: flex-start;
}

.decoraciones img{
    width: 100px;
    height: 100px;
    cursor: grab;
    position: absolute;
   
}

.arbol img{
    position: relative;
    width: 700px;
    margin: auto;
    display: block;
    right: calc(-50% + 50%);
    
}

.interacciones button p{
    font-size: 10px;
    font-family: Arial, sans-serif;
}
.interacciones button{
    font-size: 15px;
    font-family: Arial, sans-serif;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #e0e0e0;
}