


 
.contenido {
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    gap: 100px;
    margin: auto;
    font-size: 29px;
    font-family: Arial, sans-serif;
}


.btnjs{
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    align-items: flex-start;
}

.decoraciones img{
    width: 100px;
    height: 100px;
    cursor: grab;
    position: absolute;
}