


@font-face{
   font-family: 'FuenteNavidad';
   src: url('fuentes/MerryChristmasStar.ttf') format('truetype');
}

.root {
  --fuente-navidad: 'FuenteNavidad';
}



body {
  background-color: #eaebe2fd;
  margin: 0;

  font-family: Arial, sans-serif;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

main {
  position: relative;
  z-index: 0;
  /* espacio para el panel */
  padding: 2rem;
}

main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-image: url(bg/3.jpg);
  background-repeat: repeat;
  background-size: 200px 300px;
  /* Tamaño reducido del patrón */
  opacity: 0.4;
  z-index: -1;
  pointer-events: none;
}


.contenido {
  font-family: 'FuenteNavidad';
  
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fd3232;
  border-color: #09a504;
  width: 100%;
  
  height: 200px;
  left: calc(-50% + 50%);
  top: 20px; 
  font-size: 130px;
 /* border: 10px solid red; */
 
    text-shadow:
      -4px -2px 0 #661102,
      2px -2px 0 #661102,
      -4px 2px 0 #82bd8f,
      2px 2px 0 #ffffff,
      0px 0px 4px #82bd8f;
  
}


.test{ 
  position: fixed;
  z-index: 100;
  margin-bottom: -150px;
}



.btnjs {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: flex-start;
}



.decoraciones {
  position: absolute;   
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  pointer-events: none;
  z-index: 1000;  
}

.decoraciones img {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  cursor: grab;
  pointer-events: auto;
}


.decoraciones .estrella img {
  width: auto;
  height: 120px;
  filter: drop-shadow(0 0 6px gold);
}

.oculto {
  display: none;
}

.visible {
  display: block;
}



.arbol {
  position: relative;  
  
  width: 650px;
  height: 770px;
  margin: 0 auto;
  z-index: 1;
}

.arbol img {
  margin-top: 250px;
  display: block;
  width: 100%;
  height: auto;
}






.interacciones {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1000;
}
.interacciones button p {
  font-size: 10px;
  font-family: Arial, sans-serif;
}

.interacciones button {
  font-size: 15px;
  font-family: Arial, sans-serif;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #e0e0e0;
}
.interacciones2{
  display: none;
 
}



#togglePanel {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1100;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.panel-lateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-image: url(bg/1.jpg);
  opacity: 0.8;
  border-right: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  align-items: center;
  text-align: center;

}

.panel-lateral h2 {
  color: #fcfcfc;
  margin-top: 50px;
  font-size: 2rem;
  font-family: 'Arial Black', sans-serif;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    0px 0px 4px #000;
}


.panel-lateral button {

  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #000;
  /*background-image: url(bg/1.jpg);*/
  background-color: #e0e0e0;
  font-family: Arial, sans-serif;

}

.panel-lateral button:hover {
  background-color: #585858;
}

.panel-lateral.visible {
  transform: translateX(0);
}




/* Estilo general del scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Fondo */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 6px;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #f74343;
  border-radius: 6px;
  border: 2px solid #f0f0f0;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #09a504;
}



.nieve {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
  
}

.nieve span {
  position: absolute;
  top: -20px;
  width: 12px;
  height: 12px;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  opacity: 1;
  animation: caer2 linear infinite;
  ;
}

@keyframes caer2 {
  
  0% {
		transform: translate(-50%, -150%);
		
	}
  
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}


.mensaje{
  position: relative;
  
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 2000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.contenido-mensaje {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  text-align: center;
  border-radius: 10px;
}

.contenido-mensaje h2 {
  top: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000;
 
  font-size: 49px;
  text-shadow:
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff,
    0px 0px 4px #ffffff;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Contador de tiempo */
.countdown-timer {
  position: absolute !important;  
  top: -10px !important;        
  right: -60px !important;     
  z-index: 9999 !important;    
  width: 400px !important;     
  height: 120px !important;    
  transform: scale(0.8) !important; 
  pointer-events: none !important;
}

