
*{
	margin: 0;
  padding: 0;
  box-sizing: border-box;

	}

:root {
	font-size: 16px;
	--fondo1: #342E37; /**/
	--fondo2: #3B1C32;
	--fondo3: #6A1E55;
	--fondo4: #A64D79;
	--footer: #260506;
	--letras: #B0B0C3;
	--nav: #202031;
	--base: #202031;
	--btn: #6A1E55;
	--borde: #2A2F4D;
	--a: #D6CFEA;
	--footer: #2A2F4D;
	/* Or base_modo oscuro 
	color-scheme: dark;*/
}


html, body {

  
 	width: 100%;
  display: flex;
  flex-direction: column;
}

html{

}



body {

	
  font-family: 'Roboto', sans-serif;
  
  font-style: normal; /* Or 'italic' */
}
header{
	padding: 10px;
	background-color: var(--nav);
	
}

main {
	flex: 1;

}


.bgr-vid{

position: relative;
height: 100vh;
overflow: hidden;
background-color: var(--base);
}

.bgr-vid video{

	position: absolute;

	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%,-50%);
	object-fit: cover;
	z-index: -1;
	outline: 2px solid blue;
	animation: fadeCrop 2s ease-in-out 5s forwards;

}

.bgr-vid::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0), var(--base));
  z-index: 0;
  pointer-events: none;
  animation: fadeOverlay 2s ease-in-out 5s forwards;
}
@keyframes fadeCrop {
  from {
    clip-path: inset(0 0);
    opacity: 1;
  }
  to {
    clip-path: inset(120px 0 50px 0);
    opacity: 0;
  }
}


@keyframes fadeOverlay {
  from { opacity: 1; }
  to { opacity: 0; }
}

.over{
/*	outline: 1px solid red;*/
  position: relative;
	mix-blend-mode: difference;
	color: white; 
  padding-top: 20vh;

}

.reveal {
  background-color: var(--fondo1);
  color: var(--letras);
  padding: 50px;
  text-align: center;
}












.nav{
	display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background-color: var(--nav1);
  /* 
  padding: 1px 2px;
	*/

}

.nav1 {

	position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
  list-style: none;
		}

.nav1 a {
	text-decoration: none;
	color: var(--letras)	;
	font-weight: 500;
	transition: color 0.3 ease;
}
.nav1 a:hover {
	color: #D6CFEA;
}





.logo{
	flex: 0 0 auto;
}
.logo img{

	height: 40px;
	width: auto;
}








/* btn*/

.nav_botones{
	flex: 0 0 auto;
	display: flex;
	gap: 10px;
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: auto;
}

.btn {
	background-color: var(--base);
	font-size: 1rem;
	border: 1px solid var(--borde);
	color: var(--letras);
	width: 130px;
  height: 50px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50px;}
	
.btn2 {
	font-size: 1.2rem;
	background-color: var(--btn);
	color: var(--letras);
	width: 130px;
  height: 50px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50px;
}
.btn3 {
	font-size: 1.2rem;
	background-color: var(--btn);
	border: none;
	color: var(--letras);
	width: 130px;
  height: 50px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50px;
	z-index: 2;


}


	.btn:hover{
		background-color: var(--btn);
	} 






/* video en el centro*/
.mid{
		
 	 position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
  
 
  
}
.mid p {
	

	 position: relative;
  z-index: 2;
  animation: push-up 1.8s ease-out forwards
}
 

 .letra1, .letra2 {
 	font-size: 2rem;
	color: white;
	margin-bottom: 1px;
	z-index: 2;
}
.letra1, .letra2, .btn3{
  
	margin-bottom: 10px;

}
	.letra1{
		color: #479EEB;
		font-size: 3rem;
	}



.loop {
	z-index: -1;
	position: absolute;
	
	width: 700px;
	height: 450px;
	top: 62%;
	left: 50%;
	object-fit: cover;
	

	transform: translate(-50%, -50%);
	/*opacity: 0.2;*/
	}



/*tablas*/
.tabla{
	position: fixed;
	display: none;
	background-color: var(--base);
	color: white;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease;
	border: 10px solid var(--fondo1);
  border-collapse: collapse;

}
.tabla table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
.tabla th, td{
	padding: 10px;
	background-color: var(--fondo1);
}



.tabla caption{
	color: var(--letras);
	font-size: 1.2rem;
	margin-bottom: 10px;
}
.cerrar{
	color: var(--letras);
  position: absolute;
  top: 0; 
  right: 15px;
  font-size: 50px;
  cursor: pointer;
  
}










/*pie de pagina*/

footer{
	color: var(--letras	);
  padding: 1rem;
  text-align: center;
	padding: 10px;
	background-color: var(--footer)	;
}



