
*{
	margin: 0;
  padding: 0;
  box-sizing: border-box;
	color: white;
}
:root {
	font-size: 16px;
	/* Or base_modo oscuro 
	color-scheme: dark;*/
}

html{

}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-style: normal; /* Or 'italic' */
}
header{
	padding: 20px;
	background-color: black;
	
}
.nav{
	display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 1rem 2rem;

}

.nav1 {
		list-style: none;
		display: flex;
		gap: 50px;
		margin: 0 auto;
		}
.nav1 a {
	text-decoration: none;
	color: white;
	font-weight: 500;
	transition: color 0.3 ease;
}
.nav1 a:hover {
	color: #ff9800;
}

.logo img{
	height: 40px;
	width: auto;
}

.logo span{
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}
.nav_botones{
	display: flex;
	gap: 10px;
}

.btn {
	background-color: #ff9800;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3 ease;
}
	.btn:hover{
		background-color: #e67e00;
	} 


footer{

	padding: 10px;
	background-color: black	;
}


