
*{
	margin: 0;
  padding: 0;
  box-sizing: border-box;
	}

:root {
	font-size: 16px;
	--fondo1: #1A1A1D;
	--fondo2: #3B1C32;
	--fondo3: #6A1E55;
	--fondo4: #A64D79;
	/* Or base_modo oscuro 
	color-scheme: dark;*/
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html{

}


body {

	
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-style: normal; /* Or 'italic' */
}
header{
	padding: 10px;
	background-color: var(--fondo1);
	
}

main {
	flex: 1;

}















.nav{
	display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background-color: var(--fondo1);
  /* 
  padding: 1px 2px;
	*/

}

.nav1 {

	position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
  list-style: none;
		}

.nav1 a {
	text-decoration: none;
	color: white;
	font-weight: 500;
	transition: color 0.3 ease;
}
.nav1 a:hover {
	color: #ff9800;
}





.logo{
	flex: 0 0 auto;
}
.logo img{
	height: 40px;
	width: auto;
}

.logo span{
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}







/* btn*/

.nav_botones{
	flex: 0 0 auto;
	display: flex;
	gap: 10px;
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: auto;
}

.btn {
	background-color: var(--fondo1);
	font-size: 1rem;
	border: 1px solid white;
	color: white;
	width: 130px;
  height: 50px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50px;}
	
.btn2 {
	font-size: 1.2rem;
	background-color: var(--fondo4);
	width: 130px;
  height: 50px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50px;
}
.btn3 {
	font-size: 1.2rem;
	background-color: var(--fondo4);
	width: 130px;
  height: 50px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 50px;
	z-index: 2;

}


	.btn:hover{
		background-color: var(--fondo3);
	} 






/* btn*/
.mid{
		
 	
	text-align: center;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--fondo2);
  gap: 1px;
 
  
}
.mid p {
	
	position: relative;
	z-index: 2;
}

.letra1{
	color: var(--fondo4);
}
.letra2{
	color: white;
}


.gif {
	display: none;
	position: absolute;
	width: 300px;
	height: 500px;
	top: 55%;
	left: 50%;
	pointer-events: none;
	z-index: 1;
	transform: translate(-50%, -50%);
	/*opacity: 0.2;*/
	}



/*tablas*/
.tabla{
	background-color: cyan;
	color: white;
	width: 100%;
	height: 40%;	

}
.tabla table, th, td{
	border: 1px solid yellow;
	border-collapse: collapse;
}
.tabla th, td{
	padding: 10px;
	background-color: green;
}



.tabla caption{
	color: black;
	font-size: 1.2rem;
	margin-bottom: 10px;
}











/*pie de pagina*/

footer{
	color: white;
  padding: 1rem;
  text-align: center;
	padding: 10px;
	background-color: var(--fondo1)	;
}


